# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
tech0_flask_env/

# dependencies
/backend/node_modules
/frontend/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/frontend/.next/
/backend/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
/__pycache__
/backend/__pycache__
/backend_env
/db_control/__pycache__
/backend/db_control/__pycache__
**/__pycache__/**
*.pyc
.env